<template>
  <v-layout fill-height column>
    <v-alert type="warning" :value="hasError">
      Can't find tracks
    </v-alert>
    <v-alert type="warning" :value="hasSkippedError">
      Track has already been downloaded
    </v-alert>
    <v-layout
      align-center
      justify-center
      fill-height
      column
      v-if="tracksSorted.length === 0"
    >
      <img src="../assets/SoundCloud_logo.svg" width="300">
      <h1 class="display-1 font-weight-bold text-uppercase secondary--text my-2">Downloader</h1>
      <p class="subheading secondary--text text--lighten-3">Download Music from SoundCloud with Artwork and Metadata</p>
      <p class="body-1 secondary--text text--lighten-2">Get started by pasting a SoundCloud URL above</p>
      <p class="caption secondary--text text--lighten-3">You can paste a single track, set, likes to download tracks.</p>
      <p class="caption primary--text text--darken-1">
        ProTip: Visit <v-btn small flat icon to="/settings"><v-icon small>$vuetify.icons.settings</v-icon></v-btn> to enable auto-download of likes by setting your SoundCloud username.
      </p>
    </v-layout>
    <v-layout
      align-space-between
      justify-start
      column
      v-if="tracksSorted.length > 0"
    >
      <v-list
        two-line
      >
        <TrackItem class="track track--downloaded" :track="track" :key="track.url" v-for="(track, index) in tracksSorted">
          <v-divider
            v-if="index + 1 < tracksSorted.length"
            :key="index"
          ></v-divider>
          <span v-for="message in messages" :key="`${index}-${message.point}`">
            <template v-if="message.point === (tracksSorted.length - (index + 1))">
              <v-list-tile
                class="secondary"
                ripple
                @click="coffee()"
                target="_blank"
              >

                <v-list-tile-avatar>
                  <v-icon color="#FFD700">$vuetify.icons.medal</v-icon>
                </v-list-tile-avatar>
                <v-list-tile-content>
                  <v-list-tile-title class="white--text">{{ message.title }}</v-list-tile-title>
                  <v-list-tile-sub-title class="white--text lighten-2">{{ message.message }}</v-list-tile-sub-title>
                </v-list-tile-content>
              </v-list-tile>
              <v-divider/>
            </template>
          </span>
        </TrackItem>
      </v-list>
    </v-layout>
  </v-layout>
</template>

<script>
import { ipcRenderer } from 'electron'
import TrackItem from '../components/TrackItem'

export default {
  name: 'Main',
  components: {
    TrackItem
  },
  data () {
    return {
      url: '',
      message: 'Download tracks from SoundCloud with Artwork and Track Names',
      tracks: [],
      hasError: false,
      hasSkippedError: false,
      messages: [
        {
          title: 'Enjoying SoundDrain?',
          message: 'Click here to buy the creator a coffee.',
          point: 50
        },
        {
          title: 'Wow, 100 downloads!',
          message: 'Must have saved you quite some time, how about a brew?',
          point: 100
        },
        {
          title: 'Gosh you are quite the super-user!',
          message: 'Surely this deserves some coffee!',
          point: 150
        },
        {
          title: 'Two hundred!',
          message: 'Share the love.',
          point: 200
        },
        {
          title: 'Missed me?',
          message: 'Come say hi',
          point: 300
        },
        {
          title: '500th download achevement unlocked',
          message: 'Wear this with pride',
          point: 500
        },
        {
          title: '¯\\_(ツ)_/¯',
          message: '1000th download!',
          point: 1000
        },
        {
          title: '😇',
          message: 'Hello again, I missed you',
          point: 1500
        }
      ]
    }
  },
  created () {
    ipcRenderer.send('getInitialState')
    ipcRenderer.on('initialState', this.handleInitialState)
    ipcRenderer.on('started', this.handleEvent)
    ipcRenderer.on('processing', this.handleEvent)
    ipcRenderer.on('completed', this.handleEvent)
    ipcRenderer.on('error', this.handleEvent)
    ipcRenderer.on('failedUrl', this.failedUrl)
    ipcRenderer.on('skippedUrl', this.skippedUrl)
    ipcRenderer.on('completedUrl', this.completedUrl)
  },
  computed: {
    tracksSorted () {
      return this.tracks.slice().sort((a, b) => new Date(b.startedAt) - new Date(a.startedAt))
    }
  },
  methods: {
    handleInitialState (event, data) {
      this.tracks = data.tracks
    },
    failedUrl (event, url) {
      this.hasError = true
      const index = this.tracks.findIndex(t => t.url === url)
      this.tracks.splice(index, 1)
    },
    skippedUrl (event, url) {
      this.hasSkippedError = true
    },
    completedUrl (event, url) {
      const track = this.tracks.find(t => t.url === url)
      this.$set(track, 'completedAt', new Date())
    },
    handleEvent (event, data) {
      const track = this.tracks.find(t => t.url === data.url)
      if (track) {
        // Object.keys(track).forEach(key => {
        //   this.$set(track, key, undefined)
        // })
        Object.keys(data).forEach(key => {
          this.$set(track, key, data[key])
        })
      } else {
        this.tracks.unshift(data)
      }
    },
    coffee() {
      this.$ga.social('Ko-Fi', 'buy', 'https://ko-fi.com/A3403WZD')
      this.openExternal('https://ko-fi.com/A3403WZD')
    },
    openExternal (url) {
      ipcRenderer.send('openExternal', url)
    }
  }
}
</script>

<style scoped>
.header {
  background-color: #333;
  color: #fff;
  padding: 3rem;
  text-align: center;
}

.logo {
  margin-bottom: 3rem;
  display: flex;
  flex-direction:column;
  align-items: center;
  text-transform: uppercase;
  font-size: 18px;
}
</style>
