<template>
  <v-layout
    fill-height
    column
  >
    <v-layout
      fill-height
      align-space-between
      justify-start
      column
    >
      <div>
        <v-text-field
          label="SoundCloud Username"
          hint="Used to auto-download for profile likes"
          v-model="settings.profileName"
          @blur="save()"
        />
        <v-switch
          label="Auto download likes"
          v-model="settings.autoDownloadLikes"
          @change="save()"
        />
      </div>
    </v-layout>
    <v-layout row>
      <v-btn
        color="secondary"
        to="/"
      >
        Close Settings
      </v-btn>
      <v-spacer/>
      <v-dialog v-model="clearHistoryDialog" max-width="290">
        <template v-slot:activator="{ on }">
          <v-btn color="error" outline small v-on="on">Clear History</v-btn>
        </template>
        <v-card>
          <v-card-title class="headline">Clear History?</v-card-title>
          <v-card-text>
            <p>Clearing history will remove references to downloaded tracks.
  If auto-download is enabled, all liked tracks will be re-downloaded.</p>

            <p><strong>Downloaded files will not get deleted.</strong></p>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn flat @click="clearHistoryDialog = false">No</v-btn>
            <v-btn color="error" flat @click="clearHistory">Yes, Clear history</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

    </v-layout>
  </v-layout>
</template>
<script>
import { ipcRenderer } from 'electron'
export default {
  name: 'Settings',
  data () {
    return {
      settings: {
        profileName: '',
        autoDownloadLikes: false
      },
      clearHistoryDialog: false
    }
  },
  created () {
    ipcRenderer.send('getInitialState')
    ipcRenderer.on('initialState', this.handleInitialState)
  },
  methods: {
    handleInitialState (event, data) {
      this.settings = data.settings
    },
    clearHistory () {
      this.$ga.event('Settings','History Cleared')
      this.clearHistoryDialog = false
      ipcRenderer.send('clearHistory')
    },
    save () {
      this.$ga.event('Settings','Saved')
      ipcRenderer.send('saveSettings', this.settings)
    }
  }
}
</script>
