<template lang="html">
  <div>
    <v-list-tile
      avatar
      ripple
      @click="openTrack"
    >
      <v-list-tile-avatar
        tile
      >
        <img :src="artwork" @error="defaultArtwork" width="72px" height="72px" alt="" v-if="isCompleted && !isError">
        <v-progress-circular
          v-if="!isCompleted && !isError"
          :indeterminate="!isStarted"
          :value="(track.progress || 0) * 100"
          rotate="-90"
          color="primary"
        ></v-progress-circular>
        <v-icon v-if="isError" color="red">$vuetify.icons.cancel</v-icon>
      </v-list-tile-avatar>

      <v-list-tile-content>
        <span v-if="track.title">
          <v-list-tile-title>{{ track.title }}</v-list-tile-title>
          <v-list-tile-sub-title>
            {{ track.artist }}
          </v-list-tile-sub-title>
        </span>
        <span v-else>
          {{ track.url }}
        </span>
      </v-list-tile-content>

      <v-list-tile-action>
        <v-list-tile-action-text>
          <span v-if="isError">Failed </span>{{ formattedTimeAgo }}
        </v-list-tile-action-text>
        <div v-if="isError">
          <v-btn color="secondary" small @click="reDownload(track.url)">Retry</v-btn>
        </div>
      </v-list-tile-action>
    </v-list-tile>
    <slot/>

  </div>
</template>

<script>
import { ipcRenderer } from 'electron'

import dayjs from 'dayjs'
import relativeTime from 'dayjs/plugin/relativeTime'
dayjs.extend(relativeTime)

export default {
  props: {
    track: {
      type: Object
    }
  },
  computed: {
    artwork () {
      if (!this.track.artwork) {
        return require('../assets/missing-artwork.png')
      } else {
        return this.track.artwork
      }
    },
    status () {
      if (this.track.completedAt) {
        return 'completed'
      }
      if (this.track.startedAt) {
        return 'processing'
      }
      return 'queued'
    },
    formattedTimeAgo () {
      if (this.isCompleted) {
        return dayjs(this.track.completedAt).fromNow()
      }
      return ''
    },
    isError () {
      return !!this.track.errorAt
    },
    isStarted () {
      return !!this.track.startedAt
    },
    isCompleted () {
      return !!this.track.completedAt
    },
    trackName () {
      return `${this.track.artist} - ${this.track.title}`
    },
    isDownloaded () {
      return this.completedAt && this.completedAt.length > 0
    }
  },
  methods: {
    defaultArtwork () {
      this.track.artwork = require('../assets/missing-artwork.png')
    },
    reDownload (url) {
      this.$ga.event('SoundCloud','Redownload')
      ipcRenderer.send('redownload', url)
    },
    openTrack () {
      this.$ga.event('Track','Open File')
      ipcRenderer.send('openExternal', this.track.url)
      ipcRenderer.send('showInFinder', this.track.filename)
    }
  }
}
</script>

<style lang="css" scoped>
</style>
