<template>
  <div id="app">
    <v-app>
      <v-toolbar
        app
        fixed
        color="primary"
      >
        <v-toolbar-title
          class="ml-0 pr-3"
        >
          SoundDrain
        </v-toolbar-title>
        <v-text-field
          flat
          enclosed
          solo-inverted
          hide-details
          clearable
          label="SoundCloud URL"
          prepend-inner-icon="$vuetify.icons.search"
          type="url"
          v-model="url"
          v-on:keyup.enter="fetch()"
        ></v-text-field>
        <v-btn
          depressed
          large
          ripple
          color="secondary"
          @click="fetch()"
        >Make it Rain</v-btn>
        <v-spacer></v-spacer>
        <v-toolbar-items>
          <v-btn
            icon
            @click="openFolder"
          >
            <font-awesome-icon :icon="['far','folder']" size="lg"/>
          </v-btn>
          <v-btn
            icon
            to="/settings"
          >
            <font-awesome-icon :icon="['far','ellipsis-v']" size="lg"/>
          </v-btn>
        </v-toolbar-items>
      </v-toolbar>
      <v-content>
        <v-container
          fill-height
          fluid
          justify-center
        >
          <keep-alive>
            <router-view></router-view>
          </keep-alive>
        </v-container>
      </v-content>
      <v-footer app color="secondary" v-if="tracksCount>50">
        <v-layout
          row
          justify-center
          @click="coffee()"
          style="cursor: pointer"
        >
        <img src="./assets/5cbee26fcf61ec3358016243_Ko-fi_Icon_RGBforDarkBg.png" height="20">
        <span class="pl-2 white--text">Feel free to share and support this project.</span>
      </v-layout>
      </v-footer>
    </v-app>
  </div>
</template>
<script>
import { ipcRenderer } from 'electron'

export default {
  data () {
    return {
      url: '',
      tracksCount: 0
    }
  },
  created () {
    ipcRenderer.send('getInitialState')
    ipcRenderer.on('initialState', this.handleInitialState)
  },
  methods: {
    handleInitialState (event, data) {
      this.tracksCount = data.tracks.length
    },
    fetch () {
      if (this.url) {
        this.$ga.event('SoundCloud','Fetch')
        ipcRenderer.send('fetch', this.url)
        this.url = ''
      }
    },
    openFolder () {
      ipcRenderer.send('showInFinder', null)
    }
  }
}
</script>
